.header-shops-dropdown {
    width: 430px;
}

.header-shops-dropdown .header-shops-dropdown-group {
    padding: 25px;
}

.header-shops-dropdown .header-shops-dropdown-group:not(:last-child) {
    border-bottom: 1px solid rgba(51, 51, 51, .06);
}


.header-shops-dropdown-title {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 400;
}


.header-shops-dropdown .header-contact-list {
    margin: 0 0 -5px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.header-shops-dropdown .header-contact-list .header-contact-item:not(:last-child) {
    margin-bottom: 15px;
}


.header-shops-dropdown .header-contact-block {
    margin: 0;
    padding: 0;
    color: rgba(51, 51, 51, .8);
}

.header-shops-dropdown .header-contact-block a[href^="tel:"] {
    font-size: inherit;
    font-weight: normal;
}

.header-shops-dropdown .header-contact-block .header-contact-thumbnail {
    flex: 0 0 22px;
    width: 22px;
    max-width: 22px;
    height: 22px;
    margin-right: 10px;
    line-height: 22px;
}