h1,
.title-h1 {
    font-size: 20px;
    /*font-weight: 300;*/
    line-height: normal;
    margin-bottom: 10px;
}

h2,
.title-h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}

h3,
.title-h3 {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
}

h4,
.title-h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

h5,
.title-h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

h6,
.title-h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

p {
    margin: 0;
}

a {
    color: #0072f9;
    text-decoration: none;
    transition: color .15s linear;
}

a:hover {
    color: #0072f9;
    text-decoration: underline;
}


.display-header {
    margin-bottom: 18px;
}

.display-header .display-title {
    margin: 0;
}


.section-header {
    margin-bottom: 28px;
}

.section-header .section-title {
    margin: 0;
    /* font-size: 20px; */
    font-weight: 300;
    line-height: 1.3;
}

.section-header .section-title-sm {
    /* font-size: 16px; */
    line-height: normal;
}

.section-cta i {
    position: relative;
    right: 0;
    font-size: 60%;
    vertical-align: baseline;
    transition: right 300ms ease;
}

.section-cta:hover {
    text-decoration: none;
}

.section-cta:hover i {
    right: -3px;
}

.section-gray {
    background: url('../images/bg/bg-gray-cover.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

.text-muted {
    opacity: 0.7;
    color: currentColor !important;
}

@media (min-width: 768px) {
    .section-header {
        margin-bottom: 35px;
    }

    h1,
    .title-h1 {
        font-size: 30px;
    }

    h2,
    .title-h2 {
        font-size: 24px;
    }

    h4,
    .title-h4 {
        font-size: 18px;
    }


    .section-header .section-title {
        line-height: normal;
    }
}

@media (min-width: 1200px) {
    h1,
    .title-h1 {
        font-size: 40px;
    }

    h2,
    .title-h2 {
        font-size: 30px;
        font-weight: 300;
        line-height: normal;
    }

    h3,
    .title-h3 {
        font-size: 25px;
        font-weight: 300;
        line-height: normal;
    }

    h4,
    .title-h4 {
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
    }

    h5,
    .title-h5 {
        font-size: 18px;
        letter-spacing: -0.4px;
    }

    h6,
    .title-h6 {
        letter-spacing: -0.4px;
    }


    .display-header {
        margin-bottom: 28px;
    }

    .section-header {
        margin-bottom: 50px;
    }
}
